<nav class="level">
    <div class="level-item has-text-centered">
        <div class="field has-addons has-text-weight-medium has-text-grey" id="search">
            <p class="control">
                <input id="search-input" class="input is-shadowless is-uppercase has-text-grey has-text-weight-normal"
                    type="text" placeholder="가게명 검색" onkeyup="if(window.event.keyCode==13){searchaddress()}">
            </p>
            <p class="control">
                <button class="button" onclick="searchaddress()">
                    <i class="fas fa-search has-text-grey"></i>
                </button>
            </p>
        </div>
    </div>
    <div id="address-info-button">
        <button class="js-modal-trigger button is-info is-small has-text-centered" data-target="address-info-modal">
            이용가이드
        </button>
    </div>
</nav>

<!-- Modal -->
<div id="address-info-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="content">
                <h2>이용가이드</h2>
                <p>주소검색 서비스 사용 시 아래사항을 참고하시기 바랍니다.</p>
                <ul>
                    <li>네이버/카카오 포털 검색은 월 25,000회까지 지원</li>
                    <li>도로명주소가 없는 경우 지번주소(지)를 표시</li>
                    <li>우편번호는 행정안전부 도로명주소 API를 사용</li>
                    <li>우편번호 클릭시 클립보드에 복사</li>
                </ul>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>